<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Un petit blog pour s'entrainer">
        <title>{% block title %}PetitBlog{% endblock %}</title>
        <script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22>
        <text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block styles %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block js %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="dark-theme marge">
        {% block body %}{% endblock %}
    </body>
</html>
