{% extends 'base/base.html.twig' %}

{% block styles %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('main') }}
{% endblock %}

{% block body %}
    {% include 'include/navbar.html.twig' %}

    <div id="main">
        {% block main %}{% endblock %}
    </div>

    {% include 'include/footer.html.twig' %}
{% endblock %}