<footer class="footer">
    <div class="footer-content">
        <a href="{{ path('app_home') }}" class="footer-brand">petitblog.com</a>
        <div class="footer-collapse">
            <div class="copyright">
                <span>&copy; {{ 'now' | date('Y') }} Tous droits réservés</span>
            </div>
        </div>
    </div>
</footer>