{% extends 'base/main.html.twig' %}

{% block title 'Petitblog: Resultat de la recherche' %}

{% block main %}
    <div class="content">
        <h1 class="title"></h1>

        <div class="contain">
            {{ component('search') }}
        </div>
    </div>
{% endblock %}

