{% extends 'base/admin.html.twig' %}

{% block title 'Admin: A propos' %}

{% block admin %}
    <div class="content">
        <div class="app_title">
            <h1 class="title">Create new About</h1>
            <div class="btns">
                <a class="btn btn-sm btn_return" href="{{ path('app_admin_about_index') }}">retour</a>
            </div>
        </div>

        {{ include('admin/about/_form.html.twig') }}
    </div>
{% endblock %}
